canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
}
#c {
  position: absolute;
  z-index: -1;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#cursor {
  width: 2.5%;
}